INN_KPP_Validator/Service References/MainServ/hcs-house-management-service-async-9.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:base="http://dom.gosuslugi.ru/schema/integration/9.0.2.1/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/9.0.2.1/house-management-service-async/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" xmlns:hm="http://dom.gosuslugi.ru/schema/integration/9.0.2.1/house-management/" targetNamespace="http://dom.gosuslugi.ru/schema/integration/9.0.2.1/house-management-service-async/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="hcs-house-management-types-9.0.1.4.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/9.0.2.1/house-management/" />
      <xs:import schemaLocation="hcs-basetypes-9.0.2.1.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/9.0.2.1/" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Fault">
    <wsdl:part name="Fault" element="base:Fault" />
  </wsdl:message>
  <wsdl:message name="importMeteringDeviceDataRequest">
    <wsdl:part name="importMeteringDeviceDataRequest" element="hm:importMeteringDeviceDataRequest" />
  </wsdl:message>
  <wsdl:message name="exportMeteringDeviceDataRequest">
    <wsdl:part name="exportMeteringDeviceDataRequest" element="hm:exportMeteringDeviceDataRequest" />
  </wsdl:message>
  <wsdl:message name="RequestHeader">
    <wsdl:part name="Header" element="base:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="importMeteringDeviceDataResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="ResultHeader">
    <wsdl:part name="Header" element="base:ResultHeader" />
  </wsdl:message>
  <wsdl:message name="getStateRequest">
    <wsdl:part name="getStateRequest" element="base:getStateRequest" />
  </wsdl:message>
  <wsdl:message name="getStateResult">
    <wsdl:part name="getStateResult" element="hm:getStateResult" />
  </wsdl:message>
  <wsdl:message name="importContractRequest">
    <wsdl:part name="importContractRequest" element="hm:importContractRequest" />
  </wsdl:message>
  <wsdl:message name="importCharterRequest">
    <wsdl:part name="importCharterRequest" element="hm:importCharterRequest" />
  </wsdl:message>
  <wsdl:message name="exportStatusCAChRequest">
    <wsdl:part name="exportStatusCAChRequest" element="hm:exportStatusCAChRequest" />
  </wsdl:message>
  <wsdl:message name="exportHouseRequest">
    <wsdl:part name="exportHouseRequest" element="hm:exportHouseRequest" />
  </wsdl:message>
  <wsdl:message name="exportMeteringDeviceDataResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="importContractResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="importCharterResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="exportStatusCAChResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="importHouseResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="exportHouseResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="importAccountDataRequest">
    <wsdl:part name="importAccountData" element="hm:importAccountRequest" />
  </wsdl:message>
  <wsdl:message name="importAccountDataResult">
    <wsdl:part name="AckResult" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="exportAccountDataRequest">
    <wsdl:part name="exportAccountDataRequest" element="hm:exportAccountRequest" />
  </wsdl:message>
  <wsdl:message name="exportAccountDataResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="importPublicPropertyContractRequest">
    <wsdl:part name="importPublicPropertyContractRequest" element="hm:importPublicPropertyContractRequest" />
  </wsdl:message>
  <wsdl:message name="importPublicPropertyContractResult">
    <wsdl:part name="AckResult" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="exportStatusPublicPropertyContractRequest">
    <wsdl:part name="exportStatusPublicPropertyContractRequest" element="hm:exportStatusPublicPropertyContractRequest" />
  </wsdl:message>
  <wsdl:message name="exportStatusPublicPropertyContractResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="importNotificationRequest">
    <wsdl:part name="importNotificationRequest" element="hm:importNotificationRequest" />
  </wsdl:message>
  <wsdl:message name="importNotificationResult">
    <wsdl:part name="AckResult" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="importVotingProtocolRequest">
    <wsdl:part name="importVotingProtocolRequest" element="hm:importVotingProtocolRequest" />
  </wsdl:message>
  <wsdl:message name="importVotingProtocolResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="exportVotingProtocolRequest">
    <wsdl:part name="exportVotingProtocolRequest" element="hm:exportVotingProtocolRequest" />
  </wsdl:message>
  <wsdl:message name="exportVotingProtocolResult">
    <wsdl:part name="AckRequestr" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="InvalidRequest" />
  <wsdl:message name="exportCAChDataRequest">
    <wsdl:part name="exportCAChDataRequest" element="hm:exportCAChAsyncRequest" />
  </wsdl:message>
  <wsdl:message name="exportCAChDataResult">
    <wsdl:part name="exportCAChDataResult" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="importHouseUODataRequest">
    <wsdl:part name="importHouseUODataRequest" element="hm:importHouseUORequest" />
  </wsdl:message>
  <wsdl:message name="importHouseUODataResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="importHouseRSODataRequest">
    <wsdl:part name="importHouseRSODataRequest" element="hm:importHouseRSORequest" />
  </wsdl:message>
  <wsdl:message name="importHouseRSOResult">
    <wsdl:part name="parameter" type="xs:string" />
  </wsdl:message>
  <wsdl:message name="importHouseRSODataResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="importHouseOMSDataRequest">
    <wsdl:part name="importHouseOMSDataRequest" element="hm:importHouseOMSRequest" />
  </wsdl:message>
  <wsdl:message name="importHouseOMSDataResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="importSupplyResourceContractRequest">
    <wsdl:part name="importSupplyResourceContractRequest" element="hm:importSupplyResourceContractRequest" />
  </wsdl:message>
  <wsdl:message name="importSupplyResourceContractResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:message name="exportSupplyResourceContractRequest">
    <wsdl:part name="exportSupplyResourceContractRequest" element="hm:exportSupplyResourceContractRequest" />
  </wsdl:message>
  <wsdl:message name="exportSupplyResourceContractResult">
    <wsdl:part name="AckRequest" element="base:AckRequest" />
  </wsdl:message>
  <wsdl:portType name="HouseManagementPortsTypeAsync">
    <wsdl:operation name="importMeteringDeviceData">
      <wsdl:documentation>Передать данные ПУ</wsdl:documentation>
      <wsdl:input message="tns:importMeteringDeviceDataRequest" />
      <wsdl:output message="tns:importMeteringDeviceDataResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="exportMeteringDeviceData">
      <wsdl:documentation>Получить перечень ПУ</wsdl:documentation>
      <wsdl:input message="tns:exportMeteringDeviceDataRequest" />
      <wsdl:output message="tns:exportMeteringDeviceDataResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="getState">
      <wsdl:input message="tns:getStateRequest" />
      <wsdl:output message="tns:getStateResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="importContractData">
      <wsdl:documentation>Cоздание/редактирование, удаление, пролонгация, расторжение ДУ</wsdl:documentation>
      <wsdl:input message="tns:importContractRequest" />
      <wsdl:output message="tns:importContractResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="importCharterData">
      <wsdl:documentation>Cоздание/редактирование, удаление, пролонгация, расторжение устава</wsdl:documentation>
      <wsdl:input message="tns:importCharterRequest" />
      <wsdl:output message="tns:importCharterResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="exportStatusCAChData">
      <wsdl:documentation>Экспорт статусов договоров управления, уставов, доп. соглашений</wsdl:documentation>
      <wsdl:input message="tns:exportStatusCAChRequest" />
      <wsdl:output message="tns:exportStatusCAChResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="exportHouseData">
      <wsdl:documentation>ВИ_ИРАО_ДОМ_ЭКСП. Экспорт данных дома.</wsdl:documentation>
      <wsdl:input message="tns:exportHouseRequest" />
      <wsdl:output message="tns:exportHouseResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="importAccountData">
      <wsdl:documentation>ВИ_ИЛС_СЗЛС. передать данные лицевых счетов</wsdl:documentation>
      <wsdl:input message="tns:importAccountDataRequest" />
      <wsdl:output message="tns:importAccountDataResult" />
      <wsdl:fault name="invalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="exportAccountData">
      <wsdl:documentation>ВИ_ИЛС_РЛС. получить перечень лицевых счетов</wsdl:documentation>
      <wsdl:input message="tns:exportAccountDataRequest" />
      <wsdl:output message="tns:exportAccountDataResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="importPublicPropertyContract">
      <wsdl:documentation>Импорт ДОИ (Договор на пользование общим имуществом)</wsdl:documentation>
      <wsdl:input message="tns:importPublicPropertyContractRequest" />
      <wsdl:output message="tns:importPublicPropertyContractResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="exportStatusPublicPropertyContract">
      <wsdl:documentation>Экспорт списка ДОИ</wsdl:documentation>
      <wsdl:input message="tns:exportStatusPublicPropertyContractRequest" />
      <wsdl:output message="tns:exportStatusPublicPropertyContractResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="importNotificationData">
      <wsdl:documentation>ВИ_ИО_И_1. Импорт новостей для информирования граждан</wsdl:documentation>
      <wsdl:input message="tns:importNotificationRequest" />
      <wsdl:output message="tns:importNotificationResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="importVotingProtocol">
      <wsdl:documentation>Импорт протокола ОСС</wsdl:documentation>
      <wsdl:input message="tns:importVotingProtocolRequest" />
      <wsdl:output message="tns:importVotingProtocolResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="exportVotingProtocol">
      <wsdl:documentation>Экспорт протокола ОСС</wsdl:documentation>
      <wsdl:input message="tns:exportVotingProtocolRequest" />
      <wsdl:output message="tns:exportVotingProtocolResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="exportCAChData">
      <wsdl:documentation>Экспорт договоров управления, уставов, доп. соглашений</wsdl:documentation>
      <wsdl:input message="tns:exportCAChDataRequest" />
      <wsdl:output message="tns:exportCAChDataResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="importHouseUOData">
      <wsdl:documentation>Импорт данных дома для полномочия УО</wsdl:documentation>
      <wsdl:input message="tns:importHouseUODataRequest" />
      <wsdl:output message="tns:importHouseUODataResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="importHouseRSOData">
      <wsdl:documentation>Импорт данных дома для полномочия РСО</wsdl:documentation>
      <wsdl:input message="tns:importHouseRSODataRequest" />
      <wsdl:output message="tns:importHouseRSODataResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="importHouseOMSData">
      <wsdl:documentation>Импорт данных дома для полномочия ОМС</wsdl:documentation>
      <wsdl:input message="tns:importHouseOMSDataRequest" />
      <wsdl:output message="tns:importHouseOMSDataResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="importSupplyResourceContractData">
      <wsdl:documentation>Импорт договора ресурсоснабжения с РСО</wsdl:documentation>
      <wsdl:input message="tns:importSupplyResourceContractRequest" />
      <wsdl:output message="tns:importSupplyResourceContractResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="exportSupplyResourceContractData">
      <wsdl:documentation>Экспорт договоров ресурсоснабжения</wsdl:documentation>
      <wsdl:input message="tns:exportSupplyResourceContractRequest" />
      <wsdl:output message="tns:exportSupplyResourceContractResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HouseManagementBindingAsync" type="tns:HouseManagementPortsTypeAsync">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="importMeteringDeviceData">
      <soap:operation soapAction="urn:importMeteringDeviceData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportMeteringDeviceData">
      <soap:operation soapAction="urn:exportMeteringDeviceData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getState">
      <soap:operation soapAction="urn:getState" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importContractData">
      <soap:operation soapAction="urn:importContractData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importCharterData">
      <soap:operation soapAction="urn:importCharterData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportStatusCAChData">
      <soap:operation soapAction="urn:exportStatusCAChData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportHouseData">
      <soap:operation soapAction="urn:exportHouseData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importAccountData">
      <soap:operation soapAction="urn:importAccountData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="invalidRequest">
        <soap:fault use="literal" name="invalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportAccountData">
      <soap:operation soapAction="urn:exportAccountData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importPublicPropertyContract">
      <soap:operation soapAction="urn:importPublicPropertyContract" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportStatusPublicPropertyContract">
      <soap:operation soapAction="urn:exportStatusPublicPropertyContract" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importNotificationData">
      <soap:operation soapAction="urn:importNotificationData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importVotingProtocol">
      <soap:operation soapAction="urn:importVotingProtocol" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportVotingProtocol">
      <soap:operation soapAction="urn:exportVotingProtocol" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportCAChData">
      <soap:operation soapAction="urn:exportCAChData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importHouseUOData">
      <soap:operation soapAction="urn:importHouseUOData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importHouseRSOData">
      <soap:operation soapAction="urn:importHouseRSOData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importHouseOMSData">
      <soap:operation soapAction="urn:importHouseOMSData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importSupplyResourceContractData">
      <soap:operation soapAction="urn:importSupplyResourceContractData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportSupplyResourceContractData">
      <soap:operation soapAction="urn:exportSupplyResourceContractData" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HouseManagementServiceAsync">
    <wsdl:documentation>Сервис управления объектами РАО</wsdl:documentation>
    <wsdl:port name="HouseManagementPortAsync" binding="tns:HouseManagementBindingAsync">
      <soap:address location="http://dom.gosuslugi.ru/integration/services/HouseManagementAsync" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>